* {
  width: 100%;
  margin: 0px;
  padding: 0px;
  border: 0px;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
  font-size: 100%;
  font-family: 'Oswald', sans-serif;
}

a {
  width: auto;
  color: inherit;
  transition: 0.6s;
}

a:hover {
  opacity: 0.6;
}

:root {
  --background: #0c0e0d;
  --bloco: #2a1514;
  --text: #d6b8b7;
}

body, html {
  background-color: var(--background);
}