.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#boxTop {
  min-width: 150px;
  max-width: 150px;
  min-height: 150px;
  max-height: 150px;
  top: 0px;
  right: 0px;
}

#boxBottom {
  min-width: 250px;
  max-width: 250px;
  min-height: 250px;
  max-height: 250px;
  bottom: 0px;
  left: 0px;
}

.box {
  background-color: var(--bloco);
  position: absolute;
}

.containers {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.boxImg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 75%;
}

#boxOne {
  height: 100%;
  justify-content: flex-start;
}

#boxTwo {
  height: 100%;
  flex-direction: row;
  padding-top: 50px;
}
#boxTwo p {
  color: var(--text);
  text-transform: uppercase;
  font-weight: bolder;
  padding: 10px 0px;
  border-top: 4px solid #fff;
  width: 100px;
  position: absolute;
  bottom: 0;
  right: -50px;
  text-align: right;
}

#imgOne {
  background-image: url('../public/images/one.jpg');
  z-index: 2;
  width: 60%;
  height: 75%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#imgOne .txt {
  position: absolute;
  margin-top: -50px;
  left: -40px;
}
#imgOne p {
  font-size: 400%;
  line-height: 75px;
  text-transform: uppercase;
  color: var(--text);
  font-weight: bolder;
}

#imgTwo {
  background-image: url('../public/images/two.jpg');
  z-index: 2;
  width: 25%;
  height: 75%;
  align-self: flex-end;
  margin-right: 50px;
  position: relative;
}

#imgThree {
  background-image: url('../public/images/three.jpg');
  z-index: 2;
  width: 25%;
  height: 75%;
  align-self: flex-start;
  position: relative;
}

.menu {
  border: solid 3px #fff;
  width: 150px;
  position: absolute;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--text);
  text-align: center;
}

.hr {
  background-color: #fff;
  height: 75px;
  width: 3px;
}

.nav {
  height: calc(100% - 100px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.circle {
  max-width: 100px;
  min-width: 100px;
  min-height: 100px;
  max-height: 100px;
  border: solid 2px #fff;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 25px;
}
.circle h2 {
  text-transform: uppercase;
}

.lupa {
  font-size: 300%;
  font-weight: bolder;
  transform: rotate(-40deg);
  cursor: pointer;
}

.paragrafos p {
  margin-bottom: 25px;
  text-transform: uppercase;
}

